<a href="https://colab.research.google.com/github/cubshuang/PythonPractice/blob/master/1120326.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Latex Math

$ 標準差 ＝ \frac {1}{n} \sum_{i=1}^n (p_i - \mu) ^ 2 $

[ ]：清單型態 (List)

{ }：字典型態 (Dict)

In [12]:
import pandas as pd
import urllib.request as req
#from html.parser import HTMLParser

url="https://github.com/Elwing-Chou/kmu/raw/main/danmu.txt"
#url="https://tip.railway.gov.tw/tra-tip-web/tip/tip001/tip112/querybystationblank?rideDate=2023/03/26&station=4440-鳳山"

#response=req.urlopen(url)
req.urlretrieve(url, "danmu.txt")
#pd.DataFrame 表格 
#pd.Series    一行 / 一列
df = pd.read_json("danmu.txt",encoding="utf-8")
df

#url="https://tip.railway.gov.tw/tra-tip-web/tip/tip001/tip112/querybystationblank?rideDate=2023/03/26&station=4440-鳳山"
#req.urlretrieve(url, "tra.html")
#pd.read_html("tra.html")

                 text    color  size  position   time        sn        userid
0             祝☆TV動畫化  #B538FA     2         1      0  23255401    kumosorayk
1              要怎麼用雙語  #FFFFFF     1         0      0  28413131  ilovehyunjin
2            20210822  #FFFFFF     1         0      2  22480205  a12365478957
3                  卡個  #FFFFFF     1         0      3  22269424    kuojack123
4         2021/10/6五刷  #FFFFFF     1         0      3  23377135     xu3u6xu06
...               ...      ...   ...       ...    ...       ...           ...
2996  2022.01.16 神作留名  #FFFFFF     1         0  70070  24812125   ilove960914
2997  2022.02.13 神作留名  #FFFFFF     1         0  70070  25346992   cccc8787163
2998    大哥沒有輸，大哥一路走好!  #FFFFFF     1         0  70070  28796341   jeffrey4358
2999   2022.08.09神作留名  #FFFFFF     1         0  70070  28796358   jeffrey4358
3000  2022.11.10 神作留名  #FFFFFF     1         0  70070  30360165    jerry87617

[3001 rows x 7 columns]